# Copyright (c) 2024 Rodrigo Peixoto <rodrigopex@gmail.com>
# SPDX-License-Identifier: Apache-2.0

choice
	prompt "Trigger module implementation"
	optional

config TIMER_TRIGGER
	bool "The timer trigger will activate the trigger from time to time."

config BUTTON_TRIGGER
	bool "The button trigger will activate the trigger whenever the user presses the button."
	select GPIO

endchoice

module = APP
module-str = app
source "subsys/logging/Kconfig.template.log_config"

source "Kconfig.zephyr"